.DS_Store
*.swp
*
code/
console/
java-gui/
*.md
!README.md
*.tar
*.zip
!BLOCKL
!BLOCKP
!CGRAM
!CLISP.EXE
!DATA
!DICTIO
!FASL
!FIXES
!GINTER
!GRAMAR
!HELP
!LISPINIT.MEM
!LOADER
!MACROS
!MANNEW
!MINIH
!MORPHO
!MOVER
!NEWANS
!REGIS
!PLNR
!PROGMR
!README.md
!SETUP
!SHOW
!SMASS
!SMSPEC
!SMUTIL
!SYSCOM
!THTRAC
